.thumbnail {
  width: 100%;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

.channel-pic {
  vertical-align: top;
  margin-right: 5px;
}

.video-title {
  margin-top: 0;
  font-weight: 600;
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 10px;
  cursor: pointer;
}

.profile-pic {
  width: 40px;
  border-radius: 50px;
  cursor: pointer;
}

.channel-thumb {
  margin-bottom: 10px;
  position: relative;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
  cursor: pointer;
}

.video-author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
  row-gap: 40px;
  padding: 10px;
  padding-top: 0px;
}

@media (max-width: 1200px) and (min-width: 900px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) and (min-width: 600px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

.video-time {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

.video-time-live {
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: rgb(209, 32, 32);
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
}
